:root {
    --background: #191B1F;
    --button-primary: #0D6EFD;
    --button-border: #15376C;
    --chart: #e8e8e8;
}


.overview-container {
    background: var(--background);
    background-color: aqua;
    width: 100%;

}

.ov-grid-1 {
    position: relative;
    height: 100vh;
    width: 100%;
}

.ov-layer-11 {
    z-index: 2;
    position: absolute;
    margin-left: 8vw;
    left: 0px;
    bottom: 7vh;
    color: black;
}

.ov-11-text-01 {
    z-index: 2;
    font-size: 3.5rem;
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
}